<div class="pagetitle">
    <h1>Question List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Question" asp-action="QuestionList">Question</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Question" asp-action="QuestionList">Question List</a>
            </li>
        </ol>
    </nav>
</div><!-- End Page Title -->