<div class="pagetitle">
    <h1>Add Quiz Wise Question</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="QuizWiseQuestion" asp-action="QuizWiseQuestionList">QuizWiseQuestion</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="QuizWiseQuestion" asp-action="AddQuizWiseQuestion">AddQuizWiseQuestion</a>
            </li>
        </ol>
    </nav>
</div><!-- End Page Title -->