<div class="pagetitle">
    <h1>Add User</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="User" asp-action="UserList">User</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="User" asp-action="AddUser">Add User</a>
            </li>
        </ol>
    </nav>
</div><!-- End Page Title -->