@{
    Layout = null;
}
@model My_Project_dotNET.Models.UserLoginModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Management System</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row text-center mb-3">
            <h1>VB QuizMaster</h1>
        </div>
        <div class="row justify-content-center">
            <!-- Login Form -->
            <div class="col-md-4">
                <div class="card p-4 shadow">
                    <h3 class="text-center">Login to Your Account</h3>
                    <p class="text-center text-muted">Enter your Username & password to login</p>
                    <form method="post" asp-controller="User" asp-action="UserLogin">
                        <div class="mb-3">
                            <label class="form-label">UserName</label>
                            <input class="form-control" type="text" asp-for="UserName" placeholder="Enter username">
                            <span asp-validation-for="UserName" class="focus-input100"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" asp-for="Password" placeholder="Enter password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class=" alert alert-danger text-center mt-2">@Html.Raw(@Convert.ToString(TempData["ErrorMessage"]))</div>
                        }
                    </form>

                    <p class="text-center mt-3">Don't have an account? <a asp-area="" asp-controller="User" asp-action="Register">Create an account</a></p>
                </div>
            </div><!-- End Login Form -->
        </div>
    </div>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <script src="~/assets/js/main.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


</body>
</html>
